.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#FF5858, rgb(197, 207, 244));
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Para ocultar cualquier desbordamiento horizontal */
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.user-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile {
  margin: 0 10px;
  text-align: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.button-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Ajuste del espacio entre los botones y el contenido */
}

.route-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.route-button:hover {
  transform: scale(1.1);
}

.icon-img {
  width: 30px; /* Ajuste del tamaño de las imágenes dentro de los botones */
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #680000;
  border-radius: 10px;
  width: 90%;
  max-width: 300px; /* Ajuste del ancho máximo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: rgb(252, 243, 207);
}

.info-box:hover {
  transform: scale(1.1);
}

.info-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.lesson-box,
.positions-box,
.challenges-box,
.timer-box {
  text-align: center;
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar-inner {
  height: 10px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
