.level21-page {
    display: flex;
  }
  
  .level21-container {
    flex: 1;
    padding: 20px;
  }
  
  .white-background {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
  }
  
  .icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .circular-icon-container {
    margin: 10px;
    position: relative;
  }
  
  .circular-icon {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .circular-icon img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
  }
  
  .hovered-insignia {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    color: #333;
    white-space: nowrap;
  }
  
  .header-title h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header-status {
    margin-top: 10px;
  }
  
  .header-status .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .level21-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .nivel1-card-header {
    font-weight: bold;
    font-size: 20px;
  }
  
  .level21-card-body {
    margin-top: 15px;
  }
  
  .code-box {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .code-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-container {
    margin: 15px 0;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .level21-card-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .level21-card-button:hover {
    background-color: #45a049; /* Color al pasar el ratón */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  .modal-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-content button:hover {
    background-color: #45a049; /* Color al pasar el ratón */
  }
  