
.dashboard-content {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; 
  margin-left: 100px; /* Deja espacio para la barra lateral */
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  gap: 30px;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.dashboard-right {
  position: relative; /* Si es necesario */
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
}
.info-box {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #680000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  cursor: pointer;
  transition: transform 0.3s;
  background-color: #D9D9D9;
}
.panel {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.dashboard-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* Asegura que Sidebar y Header queden en columnas */
  justify-content: space-between; /* Mantiene el contenido en la parte superior de la página */
  margin: 0;
  padding: 0;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.user-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile {
  margin: 0 10px;
  text-align: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #FF7E79;
  transition: transform 0.3s;
}
.profile-picture:hover {
  transform: scale(1.1);
}



.button-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.route-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.route-button:hover {
  transform: scale(1.1);
}

.icon-img {
  width: 30px;
}
.info-box-lesson {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #680000;
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  cursor: pointer;
  transition: transform 0.3s;
  background-color: #FF8787;
}



.info-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.lesson-box,
.positions-box,
.challenges-box,
.timer-box {
  text-align: center;
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar-inner {
  height: 10px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content p {
  margin-bottom: 200px;
}

.modal-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/*diseño e los botones*/
.button-route {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.route-button {
  background-color: #fff;
  border: 2px solid #978585;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.route-button:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon-img {
  width: 35px;
}
/************************************/
/*Diseño menu desplegable perfil*/
.user-profile {
  position: relative;
  display: inline-block;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  padding: 10px 0;
}

.user-profile:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #FF7E79;
  color: #ffffff;
}
